input {
  background-color: var(--color-background-opacity);
  padding: 0.5rem;
  height: 3.5rem;
  color: var(--color-purple);
  border: none;
  margin-bottom: 0.8rem;
  outline: none;
}

svg {
  fill: var(--color-purple);
}

input svg {
  margin-right: 0.5rem;
}