#img-logo {
  width: 20%;
}

.box {
  height: 100vh;

  display: flex;
  align-items: center;
}

.box-title {
  width: 40%;
  height: 100%;
  background-color: var(--color-text);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-title h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.box-title #img-cat {
  width: 80%;
}

.box-title > p {
  width: 70%;
  font-size: 4rem;
  color: var(--color-text-black);
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-weight: bold;
}

.box-input-area {
  width: 60%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.input-area {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-area input {
  width: 70%;
  border-bottom: 1px solid black;
}

.input-password {
  background-color: var(--color-background-opacity);
  width: 70%;
  height: 3.5rem;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-password input {
  background-color: transparent;
  width: calc(100% - 20px - 0.5rem);
  margin-right: 0.5rem;
  margin-bottom: 0;
  border-bottom: 0;
}

.input-area > input:focus, .input-password:focus-within {
  border-bottom: 1px solid var(--color-purple);
}

.input-password svg {
  margin-right: 0.5rem;
}

button {
  width: 20%;
  height: 5rem;
  background-color: var(--color-purple);
  border-radius: 1rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 4rem 0;
  cursor: pointer;
  outline: none;
  
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--color-purple-hover);
}