@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #2b2b2b;
  color: white;
  font-family: "Roboto", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #4f4f4f;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

i {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 1% auto 2.5% auto;
  width: 100%;
  max-width: 1000px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav div:first-child {
  flex-grow: 0;
}

header nav div:last-child {
  flex-grow: 1;
}

header nav img {
  width: 120px;
}

.menu {
  margin-left: 150px;
}

header ul {
  list-style-type: none;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header ul i {
  font-size: 18px;
}

header ul li:first-child a {
  padding: 5px 20px;
  border: 2px solid #6A5ACD;
  border-radius: 10px;
  color: #6959CD;
  text-transform: uppercase;
  transition: color 0.5s, border 0.5s;
}

header ul li:first-child a:hover {
  border: 2px solid #7B68EE;
  color: #9370DB;
}

main {
  width: 100%;
  margin-left: 3%;
}

.container {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 100%;
}

form #animal .animal-select {
  padding: 1em;
  border: 2px solid #7B68EE;
  margin-bottom: 1em;
}

form label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.options {
  background-color: #4f4f4f;
  color: ghostwhite;
  height: 1.8em;
  padding: 0.8em;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.animal-options .options {
  margin-bottom: 0.8em;
}

.options p {
  padding: 0.5em;
}

.location-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 2.5em;
  line-height: 3;
  background: #ccc;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 0.3em 0 0.8em 0;
}

select {
  font-family: "Roboto", sans-serif !important;
  flex: 1;
  padding: 0 0.5em;
  color: ghostwhite;
  cursor: pointer;
}

.location-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #4f4f4f;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.location-select:hover::after {
  color: #7B68EE;
}

input[type=range] {
  width: 100%;
  margin: 7.3px 0;
  background-color: #4f4f4f;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -7.5px;
  width: 26px;
  height: 26px;
  background: #7b68ee;
  border: 1px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: ghostwhite;
  margin: 2.5%;
  min-width: 850px;
  border-radius: 1em;
  color: 	#363636;
  font-size: 20px;

  display: flex;
  align-items: center;
}

.card:last-child {
  margin-bottom: 4em;
}

.card:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card img {
  width: 20em;
}

.card .card-details {
  margin-left: 7%;

  display: flex;
  flex-direction: column;
}

.card-details h2 {
  margin-bottom: 0.8em;
}

.card-details .item {
  margin-bottom: 0.2em;
}

.card-details span {
  margin: 0 0.5em;
}

.card-details .adote-button {
  width: 5em;
  height: 2.5em;
  margin-top: 1em;
  background-color: #4f4f4f;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.card-details .adote-button:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.adote-button a {
  color: ghostwhite;
}