.animal-select {
  padding: 1rem;
  border: 2px solid var(--color-purple);
  margin-bottom: 1rem;
  min-height: 8rem;
}

.options {
  background-color: var(--color-light-gray);
  color: var(--color-text);
  height: 3rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.animal-select .options:only-child {
  margin-bottom: 0;
}

.options p {
  padding: 0.5rem;
}