#animal-list {
  width: 100%;
  margin-left: 2.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 100%;
}

form label {
  display: inline-block;
  margin: 1rem 0 0.5rem 0;
}

#age {
  margin-top: 0.8rem;
}

#filter-button {
  width: 15rem;
  margin: 0;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#filter-button span {
  font-size: 1.8rem;
}

#responsive-filter-area {
  display: none;
}

@media (max-width: 1130px) {
  #responsive-filter-area {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10rem;
  }

  .container {
    flex-direction: column;
  }

  .filter-form {
    padding: 3rem;
  }

  #filter-area {
    display: none;
  }
}

@media (max-width: 950px) {
  #animal-list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
}