header {
  margin: 1% auto 2.5% auto;
  width: 100%;
  max-width: 1000px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav div:first-child {
  flex-grow: 0;
}

header nav div:last-child {
  flex-grow: 1;
}

header nav img {
  width: 12rem;
  margin: 0 2rem;
}

.menu-items {
  margin-left: 15rem;
}

.menu-list-items {
  list-style-type: none;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.menu-list-items li:first-child a {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--color-purple);
  border-radius: 10px;
  color: var(--color-purple);
  text-transform: uppercase;
  transition: color 0.5s, border 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list-items li:first-child a span {
  margin-left: 0.3rem;
}

.menu-list-items li:first-child a:hover {
  border: 2px solid var(--color-purple);
  color: var(--color-purple-hover);
}

.menu-list-items li:not(.doe-button){
  margin-left: 30px;
  text-align: center;
}

.responsive-menu {
  display: none;
}

.menu-responsive-button {
  box-shadow: none;
  width: 10rem;
}

.MuiPaper-root {
  background-color: var(--color-background) !important;
  font-size: 1.6rem;
}

#perfil-button {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  height: 3rem;
  width: 8rem;
  font-size: 1.8rem;
}

@media (max-width: 1000px) {
  .menu {
    display: none;
  }

  .filter-form {
    margin: 0 3rem;
  }

  .responsive-menu {
    display: flex;
    justify-content: space-between;
  }

  .MuiPaper-root {
    width: 60%;
  }

  .menu-list-items {
    flex-direction: column;
  }

  .menu-list-items li:not(.doe-button) {
    margin-left: 0;
  }

  .menu-list-items li{
    margin: 2rem 0;
  }
}